<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>StudentMangement</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>adding</servlet-name>
		<servlet-class>com.add.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>com.add.Result</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Testing</servlet-name>
		<servlet-class>com.add.Testing</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>restwebaddingservice</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.add</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>adding</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restwebaddingservice</servlet-name>
		<url-pattern>/restdisplay/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testing</servlet-name>
		<url-pattern>/testing</url-pattern>
	</servlet-mapping>
</web-app>